docker.enabled = true

includeConfig 'docker_containers.config'

process {
  withName:preProcess{
    container = fastqc_container
  }
  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:unicycler{
    container = unicycler_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:prophage{
    container = vibrant_container
  }
  withName:abricate{
    container = abricate_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:porechop{
    container = porechop_container
  }
}
