trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
unicycler_container = 'staphb/unicycler:0.4.7'
vibrant_container = 'staphb/vibrant:1.2.1'
abricate_container = 'staphb/abricate:1.0.0'
mlst_container = 'staphb/mlst:2.17.6-cv1'
porechop_container = 'biocontainers/porechop:v0.2'
