singularity.enabled = true

includeConfig 'docker_containers.config'

process {
  withName:preProcess{
    container = fastqc_container
  }
  withName:trim{
    cpus = 4
    memory = '8 GB'
    container = trimmomatic_container
  }
  withName:cleanreads{
    cpus = 4
    memory = '8 GB'
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:unicycler{
    cpus = 8
    memory = '15 GB'
    container = unicycler_container
  }
  withName:prophage{
    cpus = 8
    memory = '15 GB'
    container = vibrant_container
  }
  withName:abricate{
    cpus = 8
    memory = '15 GB'
    container = amrfinder_container
  }
  withName:mlst{
    cpus = 8
    memory = '15 GB'
    container = mlst_container
  }
  withName:porechop{
    cpus = 8
    memory = '15 GB'
    container = porechop_container
  }
}
