trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
quast_container = 'staphb/quast:5.0.2'
tiptoft_container = 'staphb/tiptoft:1.0.0'
ivar_container = 'staphb/ivar:1.2.1-SC2'
samtools_container = 'staphb/samtools:1.10'
vigor_container = 'staphb/vigor4:4.1.20190131'
geneblocks_container = 'geneblocks:latest'
