singularity.enabled = true

includeConfig 'docker_containers.config'

process {
  stageInMode = "link"

  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:quast{
    container = quast_container
  }
  withName:ivar{
    container = ivar_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:assembly_results{
    container = tiptoft_container
  }
  withName:annotate{
    container = vigor_container
  }
  withName:convert_gff_gb{
    container = geneblocks_container
  }
  withName:viz_genomes{
    container = geneblocks_container
  }
}
